body {
    background-color: rgba(40, 40, 40, 1);
    color: rgb(240, 240, 240);
    height: 10vh;
    margin: 2%;
}

.nav-button {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.card {
    background-color: rgba(0, 0, 0, 0);
    font-size: 40px;
    padding: 15px 15px 15px 15px;
    margin: 5px 5px 5px 5px;
    text-align: center;
}

.rounded-border {
    border-radius: 15px;
    background-color: rgba(30, 30, 30, 1);
    padding: 15px 15px 15px 15px;
    margin: 0.5% 0.5% 0.5% 0.5%;
}

.one-per-row {
    width: 99%;
}

.three-per-row {
    width: 32.3333%;
}

.six-per-row {
    width: 15.6666%;
}